:root {
  --clr-red: hsl(1, 90%, 64%);
  --clr-blue: hsl(219, 85%, 26%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-grayish-blue-1: hsl(210, 60%, 98%);
  --clr-light-grayish-blue-2: hsl(211, 68%, 94%);
  --clr-light-grayish-blue-3: hsl(205, 33%, 90%);
  --clr-grayish-blue: hsl(219, 14%, 63%);
  --clr-dark-grayish-blue-1: hsl(219, 12%, 42%);
  --clr-dark-grayish-blue-2: hsl(224, 21%, 14%);
}
